#search .container{
	margin-top: 10%;
	width: 50%;
}
#search img{
	width:100%;
	height: auto;
}
#search input{
	height:40px;
	font-size: 20px;
}
#search button{
	margin-left: 40%;
	margin-top: 5%;
	color: white;
}
#search .btn{
		background-color: #90b70c ;

}